Package: srunpy
Version: 1.0.0
Depends: python3-requests
Source: packages/srunpy
SourceName: srunpy
License: GPL-2.0
Section: Applications
Priority: optional
Maintainer: Shian Waito
SourceDateEpoch: 1676101875
Architecture: all
Installed-Size: 2478
Description: An automatic login script for SRun Gateway
