Package: luci-i18n-srunpy-zh-cn
Version: 1.0.0
Depends: luci-app-srunpy
Source: packages/srunpy
SourceName: luci-app-srunpy
License: GPL-2.0
Section: Applications
Priority: optional
Maintainer: Shian Waito
SourceDateEpoch: 0
Architecture: all
Installed-Size: 1024
Description: Translation for luci-app-srunpy - 简体中文 (Chinese Simplified)
